body{font-family:Arial;background:#eef5db;color:#333;text-align:center;margin-top:5%;}
button{padding:10px 20px;font-size:16px;background:#4f6367;color:white;border:none;border-radius:8px;cursor:pointer;}
button:hover{background:#7a9e9f;}